.testerForm {
    display: flex;
    flex-direction: column;
  
    .form-row {
      display: flex;
      margin-top: 10px;
  
      .form-col {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-right: 10px;
  
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }